gunicorn==20.1.0
gevent==23.7.0
Django==4.1.13
psycopg2-binary==2.8.6
psycogreen==1.0.2
django-csp==3.7
pyjwt[crypto]==2.8.0
beautifulsoup4==4.9.3
django-prometheus==2.2.0
django-probes==1.7.0
boto3==1.17.112
requests==2.25.1
email-validator==2.0.0.post2
djau-gsuite-email==0.1.4
python-ipware==1.0.5
PyYAML==6.0.2

opentelemetry-sdk==1.36.0
opentelemetry-exporter-otlp==1.36.0
opentelemetry-instrumentation-django==0.57b0
opentelemetry-instrumentation-psycopg2==0.57b0

pyroscope-io==0.8.11
pyroscope-otel==0.4.1
