.chain-reply {
  /* The chain reply button should be on the bottom right */
  margin-left: auto;
}

.list-group {
  margin-top: 1em;

  :first-child {
    border-top-left-radius: var(--mantine-radius-sm);
    border-top-right-radius: var(--mantine-radius-sm);
  }

  :last-child {
    border-bottom-left-radius: var(--mantine-radius-sm);
    border-bottom-right-radius: var(--mantine-radius-sm);
  }
}
