.dl-data {
  margin-inline-start: 0;
  text-transform: capitalize;
}

.dl-heading:not(:first-child) {
  margin-top: var(--mantine-spacing-xs);
}

.editing-actions {
  border-radius: var(--mantine-radius-sm);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  transition: box-shadow 0.2s ease-in-out;
}

.editing-actions.unsaved {
  box-shadow:
    0 0 0 calc(var(--mantine-spacing-xs) / 2) var(--mantine-color-body),
    0 0 0 calc(var(--mantine-spacing-xs) / 2 + 2px) var(--mantine-color-error);
}
