.navbar {
  height: 3.5rem;
  box-shadow: var(--mantine-shadow-sm);
  color: var(--mantine-color-anchor);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100%;
}

.title {
  text-decoration: none;
  width: 12.5rem;
  font-weight: 400;
  font-size: 1.25rem;
  color: inherit; /* don't try to apply default mantine link styles */
}
