.navItem {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
  display: initial;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 500;
  /* don't use mantine-color-anchor (applied to all Anchor elements) but instead
   * use any color set by parent. This is a fix for text becoming black on light
   * mode even on dark background
   */
  color: inherit;

  @media (max-width: $mantine-breakpoint-md) {
    text-align: left;
    display: block;
  }
}

.childItem {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  cursor: pointer;
  fill: rgba(51, 51, 51, 0.5);
}

.link {
  text-decoration: none !important;
  width: 100%;
}

.active {
  border-bottom: solid 0.25rem rgba(255, 255, 255, 0.8);
}

.mobileChild {
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.25rem;
}
