.navbar {
  min-height: 2.5rem;
  color: var(--mantine-color-anchor);
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid var(--mantine-color-gray-2);
  @mixin dark {
    border-bottom: 2px solid var(--mantine-color-dark-6);
  }
}

.navItem {
  color: var(--mantine-color-anchor);
}

.invertedLogo {
  filter: brightness(0) invert(1);
}

.logo {
  height: 1.5rem;
  padding-right: 0.5rem;
}

.title {
  font-weight: 400;
  font-size: 1.25rem;
  flex: 1;
}

.separator {
  width: 3.152rem;
  border: 0.5px solid white;
}

.verticalSeparator {
  height: 1.25rem;
  border: 0.5px solid white;
}

.mobileLanguage {
  text-transform: uppercase;
  cursor: pointer;
}
