.navButton {
  background: var(--mantine-color-gray-light);
  overflow: visible;
  color: var(--mantine-color-text);

  &:hover {
    background: var(--mantine-color-gray-light-hover);
    color: var(--mantine-color-text);
  }
}

.dropdownInput {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  background: var(--mantine-color-gray-light);
  border-color: var(--mantine-color-gray-light);
  max-width: 300px;

  &:hover, &:focus {
    background: var(--mantine-color-gray-light-hover);
  }

  &:focus-visible {
    position: relative;
    z-index: 3000;
    outline: auto;
  }

  &:active {
    background: var(--mantine-color-default-border);
  }
}

.dropdownOption[data-combobox-selected] {
  background-color: var(--mantine-primary-color-filled);
  color: var(--mantine-primary-color-contrast);
}

.searchInputWrapper {
  flex-grow: 1;
}

.searchInput {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  border-left: 0;
  background: var(--mantine-color-dark-light);
  border-color: var(--mantine-color-gray-light);

  &:focus {
    background: var(--mantine-color-dark-light-hover);
    &::placeholder {
      color: var(--mantine-color-dark-2)
    }
  }
}
