.editorWrapperStyle {
  padding: 1.2em;
}

.fullScreen {
  flex-grow: 1;
}

.fullscreenContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fullscreenPreview {
  position: relative;
  height: 100%;
}

.fullscreenPreviewInner {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.splitViewContainer {
  display: flex;
  height: 100%;
  gap: 0.5em;
}

.splitLeftRight {
  flex: 1 1 0;
}

.shadowOnFocus {
  transition: linear 100ms box-shadow, linear 50ms outline-width;
  outline-width: 0;
  outline-style: solid;
  outline-color: var(--mantine-primary-color-filled);
  outline-offset: 2px;

  &:hover, &:focus-within {
    box-shadow: var(--mantine-shadow-xs);
  }

  &:has(textarea:focus) {
    outline-width: 2px;
  }
}


.borderStyle {
  border-width: 0.1em;
  border-color: var(--mantine-color-gray-9);
  border-style: solid;

  @mixin dark {
    border-color: var(--mantine-color-gray-1);
  }
}
