.icon-button {
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0 0.875rem;
  height: 100%;
  opacity: 0.8;
  transition: color 0.1s;
  min-width: 0;
  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}

.nav {
  display: flex;
}

.header {
  position: relative;
}

.file-input {
  visibility: hidden;
  display: none;
}

.toolBelt {
  order:1;
  margin-left:auto;
}

.fullscreenButton {
  order: 2;
  margin: 0;
  padding: 0 0.875rem;
}

@media (max-width: 620px) {
  .toolBelt {
    order: 2;
    width: 100%;
  }
  .fullscreenButton {
    order: 1;
    margin-left: auto;
  }
}
