
.fadeInOrder {
  /* Browser support for sibling-index is limited, only try staggering fade-in
  if the browser says it supports it. */
  @supports (animation-delay: calc(sibling-index() * 25ms)) {
    opacity: 0;
    transform: translateY(5px);
    animation: fade-in-below 100ms linear calc(sibling-index() * 25ms) forwards;
  }

  @keyframes fade-in-below {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
